/* @author Lorena Horvat - Lorena-Hrvt */

/* --------------- Quill Editor Styling: colours, etc. -------------------------- */

nav {
    padding: 30px;
}

nav a {
    font-weight: bold;
    color: #2c3e50;
}

nav a.router-link-exact-active {
    color: #42b9b5;
}

/* --------------- Button and Input field Styling: colours, etc. --------------- */

.btnContainer {
    background-color: #c7e6fd;
    margin: 15px 0px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Button */
button {
    padding: 7px 12px;
    background-color: #218087;
    color: #fff;
    font-size: small;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
    margin-right: 5px;
    height: 34px;
}

button:hover {
    background-color: #376782;
}

#share {
    background-color: #c7e6fd;
    border: #218087;
    border-style: solid;
    color: #218087;
    font-weight: bold;
    min-width: fit-content;
    margin-left: 0px;
    margin-top: 10px;
}

.logout {
    margin-right: 20px;
    background-color: #af6ab4;
    padding: 7px 12px;
    color: aliceblue;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/* File name Input Field */
.filename {
    padding: 7px 12px;
    font-size: small;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    border-style: solid;
    border-color: #2c9aa1;
    align-self: flex-end;
    min-width: 176.8px;
}


/* --------------- Top navigation: content alignment --------------------- */

.navBar {
    display: flex;
    justify-content: space-between;
    margin: 5px 0 5px 0;
}

.left {
    align-self: flex-start;
}

.right {
    align-self: flex-end;
}

.pdfContentContainer {
    width: 100%;
}


.undoRedo{
    display: flex;
}

.urdoBtn {
    margin: 0px 5px 5px 0px;
    background-color:#c7e6fd;
    color: #af6ab4;
    border-color: #af6ab4;
    border-style: solid;
    font-weight: bold;
}

.urdoBtn:hover {
    background-color: #dab2dd;
}