/* @author Lorena Horvat */

/* --------------- Quill Editor Styling: colours, etc. -------------------------- */

nav {
    padding: 30px;
}

nav a {
    font-weight: bold;
    color: #2c3e50;
}

nav a.router-link-exact-active {
    color: #42b9b5;
}

/* --------------- Button and Input field Styling: colours, etc. --------------- */
/* Button */
button {
    padding: 7px 12px;
    background-color: #218087;
    color: #fff;
    font-size: small;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

button:hover {
    background-color: #376782;
}

/* File name Input Field */
.filename {
    padding: 7px 12px;
    font-size: small;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    border-style: solid;
    border-color: #2c9aa1;
    align-self: flex-end;
    min-width: 176.8px;
}


/* --------------- Top navigation: content alignment --------------------- */

.navBar {
    display: flex;
    justify-content: space-between;
    margin: 5px 0 5px 0;
}

.left {
    align-self: flex-start;
}

.right {
    align-self: flex-end;
}

.pdfContentContainer {
    width: 100%;
}